body {
  background-color: #6C757D;
}

/* body div {
  border: 0.1px dotted black;
} */

/* TextFilterTopBar */
.TextFilterTopBar {
  background-color: #212529;
  position: sticky;
  top: 0;
  z-index: 99;
}

.TextFilterTopBar .searchIcon {
  background-color: white;
  color: #6C757D
}

.TextFilterTopBar .searchInput {
  box-shadow: none;
  border: 0;
}